body {
    background-color: black;
}

.swiper {
    width: 400px;
    padding: 0 400px;
    //outline: 1px solid black;
}

.img {
    width: 100%;
    vertical-align: bottom;
}

.h1 {
    text-align: center;
}

.swiper-slide {
    cursor: grab;
    border-radius: 10px;
}