.swiper {
    width: 600px;
    height: 300px;
}

.img {
    width: 100%;
    height: auto;
}

.h1 {
    text-align: center;
}

.swiper-slide{   /* added */
    border-radius: 20px;        /* added */
}   